doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title test-task
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
  body
    .main-wrapper
      // Start-header-block
      .header-block
        .header-content
          .logo-block
            img.logo-img(src="img/logotype.png" alt="")
          .nav-block
            nav.list
              a.nav-item(href="") Search
              a.nav-item(href="") Inbox
              a.nav-item(href="") Activity
            .header-btn-block
              a.header-btn(href="") GET CREDITS
            .menu-btn
              div
              div
              div
      // End-header-block
      // Start-content-block
      .content-block
        // Start-chois-girl-block
        .chois-girl-block
          // Start-parameters-block
          .parameters-block
            .parameters-text Set search parameters
          // End-parameters-block
          // Start-main-models-block
          .models-card-block
            // Start-model
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
                .model-video
                  span.counter-video 2
              .model-avatar-block
                img.model-avatar(src="img/photo.png" alt="")
              .model-info
                .model-name Elizaveta, 29
                .model-status.model-online
            // End-model
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 9
              .model-avatar-block
                img.model-avatar(src="img/photo2.png" alt="")
              .model-info
                .model-name Elizaveta, 29
                .model-status.model-online
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
                .model-video
                  span.counter-video 2
              .model-avatar-block
                img.model-avatar(src="img/photo3.png" alt="")
              .model-info
                .model-name Margarita, 35
                .model-status.model-online
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
                .model-video
                  span.counter-video 2
              .model-avatar-block
                img.model-avatar(src="img/photo4.png" alt="")
              .model-info
                .model-name Nataliya, 31
                .model-status.model-online
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
                .model-video
                  span.counter-video 2
              .model-avatar-block
                img.model-avatar(src="img/photo5.png" alt="")
              .model-info
                .model-name Lina, 24
                .model-status.model-online
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
              .model-avatar-block
                img.model-avatar(src="img/photo6.png" alt="")
              .model-info
                .model-name Antonina, 22
                .model-status.model-online
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
              .model-avatar-block
                img.model-avatar(src="img/photo7.png" alt="")
              .model-info
                .model-name Alice, 32
                .model-status.model-online
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
                .model-video
                  span.counter-video 2
              .model-avatar-block
                img.model-avatar(src="img/photo8.png" alt="")
              .model-info
                .model-name Yulia, 26
                .model-status.model-online
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
                .model-video
                  span.counter-video 2
              .model-avatar-block
                img.model-avatar(src="img/photo9.png" alt="")
              .model-info
                .model-name Elizaveta, 29
                .model-status.model-online  
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
                .model-video
                  span.counter-video 2
              .model-avatar-block
                img.model-avatar(src="img/photo10.png" alt="")
              .model-info
                .model-name Elizaveta, 29
                .model-status.model-online  
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
                .model-video
                  span.counter-video 2
              .model-avatar-block
                img.model-avatar(src="img/photo11.png" alt="")
              .model-info
                .model-name Elizaveta, 29
                .model-status.model-online  
            .model
              .model-counter-block
                .model-photo
                  span.counter-photo 8
                .model-video
                  span.counter-video 2
              .model-avatar-block
                img.model-avatar(src="img/photo12.png" alt="")
              .model-info
                .model-name Elizaveta, 29
                .model-status.model-online  
          // End-main-models-block
        // End-chois-girl-block
        // Start-sedebar
        .sedebar
          // Start-contacts-block
          .contacts-block
            .contacts-title Contacts
            .contacts-content
              .contact-block
                .contact-img-block
                  img.contact-avatar.top-contact(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status.model-online
                .contact-info.new-mess
                  .contact-name Sofia, 28
                  .contact-mess.text-new-mess
                    | What would you lik Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis?
                .true-counter-mess-block 2
              .contact-block
                .contact-img-block
                  img.contact-avatar.top-contact(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status.model-online
                .contact-info.new-mess
                  .contact-name Yulia, 26
                  .contact-mess.text-new-mess
                    | What would you lik Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis?
                .true-counter-mess-block 1
              .contact-block
                .contact-img-block
                  img.contact-avatar.top-contact(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status.model-online
                .contact-info
                  .contact-name Elizaveta, 29
                  .contact-mess
                    | What would you lik Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis?
                .false-counter-mess-block
              .contact-block
                .contact-img-block
                  img.contact-avatar(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status.model-online
                .contact-info
                  .contact-name Julia, 23
                  .contact-mess
                    | What would you lik Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis?
                .false-counter-mess-block
              .contact-block
                .contact-img-block
                  img.contact-avatar(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status
                .contact-info.new-mess
                  .contact-name Inna, 24
                  .contact-mess.mess-icon
                    | What would you lik Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis?
                .false-counter-mess-block
              .contact-block
                .contact-img-block
                  img.contact-avatar(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status.model-online
                .contact-info
                  .contact-name Anna, 27
                  .contact-mess
                    | What would you lik...
                .false-counter-mess-block
              .contact-block
                .contact-img-block
                  img.contact-avatar(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status.model-online
                .contact-info
                  .contact-name Margarita, 35
                  .contact-mess
                    | What would you lik Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis?
                .false-counter-mess-block
          // Start-request-block
          .requests-block
            .request-head
              .requests-title Requests
              .request-mod Show more
            .request-content
              .request-block
                .request-img-block
                  img.request-avatar(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status.model-online
                .request-info
                  .request-name Julia, 23
                  .request-mess
                    | What would you lik Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis?
                .request-link-block
                  a.request-link(href="") Reply
              .request-block
                .request-img-block
                  img.request-avatar(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status
                .request-info
                  .request-name Albina, 27
                  .request-mess.mess-icon
                    | What would you lik Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis?
                .request-link-block
                  a.request-link(href="") Reply
              .request-block
                .request-img-block
                  img.request-avatar(src="img/contacts-photo.png" alt="")
                  .model-status.contact-status.model-online
                .request-info
                  .request-name Yulia, 26
                  .request-mess
                    | What would you lik  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, blanditiis?
                .request-link-block
                  a.request-link(href="") Reply
        // End-sedebar
      // End-content-block
